<app-home></app-home>
<ng4-loading-spinner> </ng4-loading-spinner>
<mat-sidenav-container>
  <div class="col-lg-12">
    <mat-card style="margin: 50px;">
      <mat-card-title style="background-color: transparent;
      padding: 10px;
      position: relative;border-bottom:0.5px solid grey;font-weight: 600;
      font-size: 14px;">ADD RECEIPT</mat-card-title>
     <form  name="receiptData" (submit)="saveStudentFee(postForm.form)" #postForm="ngForm">
  <div class="row">
      <div class="col-sm-2 col-lg-3 col-md-2">
      <mat-form-field>
        <mat-label>Sr No</mat-label>
      <input type="number" matInput name="srno" [(ngModel)]="srno" #sno="ngModel" [disabled]="srnoDisabled" readonly>
      </mat-form-field>
      </div>

      <div class="col-sm-2 col-lg-3 col-md-2">
      <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="date" [(ngModel)]="todayDate" #date="ngModel" >
      <mat-datepicker-toggle matPrefix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </div>

      <div class="col-sm-2 col-lg-3 col-md-2">
      <mat-form-field>
      <mat-label>Session</mat-label>
      <mat-select placeholder="Session"  name="session" [(ngModel)]="session" #sessiont="ngModel"  required>
      <mat-option  value="2019-20" selected>2019-20</mat-option>
      </mat-select>
      <mat-error *ngIf="session.invalid">Please enter session.</mat-error>
      </mat-form-field>
      </div>

      <div class="col-sm-2 col-lg-3 col-md-2">
      <mat-form-field>
      <mat-label>Fee Type</mat-label>
      <mat-select placeholder="Fee Type"  name="fee_type" [(ngModel)]="fee_type" #fee_typet="ngModel"  required>
      <mat-option *ngFor="let feeType of feeTypeData;" value="{{feeType.value}}">{{feeType.value}}</mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="fee_type.invalid">Please enter fee type.</mat-error> -->
      </mat-form-field>
      </div>


</div>
<div class="row">
    <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <mat-select placeholder="Class"  name="class"  ngModel #class="ngModel" (ngModelChange)="getClass(postForm)" required>
    <mat-option *ngFor="let class of classData;" value="{{class.value}}">{{class.value}}</mat-option>
    </mat-select>
    <mat-error *ngIf="class.invalid">Please select class.</mat-error>
    </mat-form-field>
    </div>

    <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field class="example-full-width">
    <input  placeholder="Pick Student"  matInput name="first_name" ngModel #first_name="ngModel"  (ngModelChange)="getStudentInfo($event)" [matAutocomplete]="auto" required>
    <mat-error *ngIf="first_name.invalid">Please enter student name.</mat-error>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='getAutoStudentSelect($event)'>
    <mat-option *ngFor="let student of studentList" [value]="student">
        {{student.first_name}} {{ student.last_name}} {{student.idNumber}}
    </mat-option>
    </mat-autocomplete>
    </mat-form-field>
    </div>

    <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <mat-label>ID No</mat-label>
    <input matInput readonly [value]="idNumber" name="idNumber" [(ngModel)]="idNumber" required>
    </mat-form-field>
    </div>

    <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <mat-label>Total Fee</mat-label>
    <input matInput type="number" name="admission_fee"  [(ngModel)]="admissionFee" required readonly>
    </mat-form-field>
    </div>

</div>
<div class="row">

  <div class="col-sm-2 col-lg-3 col-md-2">
  <mat-form-field >
  <mat-label>Max Discount(to be given)</mat-label>
  <input matInput type="number" name="discount" [(ngModel)]="discount" readonly>
  </mat-form-field>
  </div>

  <div class="col-sm-2 col-lg-3 col-md-2">
      <mat-form-field >
      <mat-label>Amount to be paid</mat-label>
      <input matInput type="number" name="submittedFee" [(ngModel)]="submittedFee" required>
      </mat-form-field>
  </div>
 </div>
<div class="row">
<div class="col-sm-2 col-lg-6 col-md-2">
  <div class="button-row">
    <button type="submit" mat-stroked-button style="color:#38B6FF;">Save</button>
    <button type="button" mat-stroked-button style="background-color: #38B6FF;color:#FFF">Reset</button>
  </div>
</div></div>
</form></mat-card></div>
</mat-sidenav-container>
