<app-home></app-home>

 <mat-sidenav-container>
   <div class="col-lg-12">
    <mat-card style="margin: 50px;" *ngFor = "let student of studentData">
      <mat-card-title style="background-color: transparent;
      padding: 10px;
      position: relative;border-bottom:0.5px solid grey;font-weight: 600;
      font-size: 14px;">EDIT STUDENT -  <span style="color:#38B6FF;" [routerLink]="['/studentDetail',student.uId]"> {{ student.first_name | uppercase }} {{ student.last_name | uppercase }} </span></mat-card-title>
 <form  name="editStudentData" (submit)="submitEditStudent(postForm.form)" #postForm="ngForm"  class="student-form" >
 <div class="row">
      <div class="col-sm-2 col-lg-3 col-md-2">
     <mat-form-field>
    <input matInput  name="idNumber" [(ngModel)]="student.idNumber" #first_name="ngModel" readonly placeholder="ID Number" >
    <!--  <mat-error *ngIf="idNumber.errors?.required">ID Number is required.</mat-error> -->
  </mat-form-field>
  </div>

<div class="col-sm-2 col-lg-3 col-md-2">
     <mat-form-field>
    <input matInput placeholder="First Name" name="first_name" [(ngModel)]="student.first_name" #first_name="ngModel" [ngClass]="{ 'is-invalid': postForm.submitted && first_name.invalid }" required minlength="3" pattern="^[a-zA-Z ]*">
     <mat-error *ngIf="first_name.errors?.required">First name is required.</mat-error>
     <mat-error *ngIf="first_name.errors?.minlength">Min length should be 3 characters.</mat-error>
      <mat-error *ngIf="first_name.errors?.pattern">Please enter valid first name.</mat-error>
  </mat-form-field>
  </div>
  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <input matInput placeholder="Last Name" name="last_name" [(ngModel)]="student.last_name" #last_name="ngModel" required minlength="3" pattern="^[a-zA-Z]*">
     <mat-error *ngIf="last_name.errors?.required">Last name is required.</mat-error>
     <mat-error *ngIf="last_name.errors?.minlength">Min length should be 3 characters.</mat-error>
     <mat-error *ngIf="last_name.errors?.pattern">Please enter valid last name.</mat-error>
  </mat-form-field>
  </div>

  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <input matInput placeholder="Adhaar No" name="adhaar_no" [(ngModel)]="student.adhaar_no" #adhaar_no="ngModel" required minlength="12" maxlength="12" pattern="[0-9]+">
     <mat-error *ngIf="adhaar_no.errors?.required">Adhaar number is required.</mat-error> 
      <mat-error *ngIf="adhaar_no.errors?.minlength">Please enter valid length of Adhaar Number.</mat-error> 
      <mat-error *ngIf="adhaar_no.errors?.maxlength">Please enter valid length of Adhaar Number.</mat-error>
      <mat-error *ngIf="adhaar_no.errors?.pattern">Please enter valid Adhaar Number.</mat-error>

  </mat-form-field>
  </div>
</div>
<div class="row">
<div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
   <mat-select placeholder="Category"  name="category" [(ngModel)]="student.category" #category="ngModel">
      <mat-option value="OBC">OBC</mat-option>
      <mat-option value="Gen">Gen</mat-option>
      <mat-option value="SC">SC</mat-option>
      <mat-option value="ST">ST</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
   <mat-select placeholder="Religion"  name="student_type" [(ngModel)]="student.student_type" #student_type="ngModel">
    <mat-option value="REGULAR">Regular</mat-option>
    <mat-option value="PRIVATE">Private</mat-option>
    <mat-option value="EX">Ex</mat-option>
    <mat-option value="SINGLE_SUBJECT">Single Subject</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
   <mat-select placeholder="Handicapped"  name="handicapped" [(ngModel)]="student.handicapped" #handicapped="ngModel">
      <mat-option value="YES">Yes</mat-option>
      <mat-option value="NO">No</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <input matInput placeholder="Father Name" name="father_name" [(ngModel)]="student.father_name" #father_name="ngModel" required minlength="3" pattern="^[a-zA-Z ]*">
     <mat-error *ngIf="father_name.errors?.required">Father name is required.</mat-error>
     <mat-error *ngIf="father_name.errors?.minlength">Father name should be atleast 3 characters..</mat-error>
     <mat-error *ngIf="father_name.errors?.pattern">Please enter valid father name.</mat-error>
  </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <input matInput placeholder="Father Qualification" name="father_qualification" [(ngModel)]="student.father_qualification" #father_qualification="ngModel" required minlength="2">
     <mat-error *ngIf="father_qualification.errors?.required">Please enter father Qualification.</mat-error>
     <mat-error *ngIf="father_qualification.errors?.minlength">Qualification should be atleast 2 characters.</mat-error>

  </mat-form-field>
  </div>

  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <input matInput placeholder="Father Occupation" name="father_occupation" [(ngModel)]="student.father_occupation" #father_occupation="ngModel" required minlength="6">
     <mat-error *ngIf="father_occupation.errors?.required">Father Occupation is required.</mat-error>
     <mat-error *ngIf="father_occupation.errors?.minlength">Occupation should be atleast 6 characters.</mat-error>
  </mat-form-field>
  </div>

  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <input matInput placeholder="Mother Name" name="mother_name" [(ngModel)]="student.mother_name" #mother_name="ngModel" required minlength="3" pattern="^[a-zA-Z ]*">
    <mat-error *ngIf="mother_name.errors?.required">Mother name is required.</mat-error>
    <mat-error *ngIf="mother_name.errors?.minlength">Mother name should be atleast 3 characters.</mat-error>
    <mat-error *ngIf="mother_name.errors?.pattern">Please enter valid mather name.</mat-error>
  </mat-form-field>
  </div>

  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <input matInput placeholder="Mother Qualification" name="mother_qualification" [(ngModel)]="student.mother_qualification" #mother_qualification="ngModel" required minlength="2">
     <mat-error *ngIf="mother_qualification.errors?.required">Mother qualification is required.</mat-error>
    <mat-error *ngIf="mother_qualification.errors?.minlength">Qualification should be atleast 2 characters.</mat-error>

  </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <input matInput placeholder="Mother Occupation" name="mother_occupation" [(ngModel)]="student.mother_occupation" #mother_occupation="ngModel" required>
    <mat-error *ngIf="mother_occupation.errors?.required">Mother occupation is required.</mat-error>
  </mat-form-field>
  </div>
<div class="col-sm-2 col-lg-3 col-md-2">
     <mat-form-field class="navigation-items">
    <mat-select placeholder="gender"  name="gender" [(ngModel)]="student.gender" #gender="ngModel" required>
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
    </mat-select>
<mat-error *ngIf="gender.invalid">Please select gender.</mat-error>
  </mat-form-field>
  </div>
  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
        <textarea matInput name="address" [(ngModel)]="student.address" #address="ngModel" required minlength="10"></textarea>
         <mat-error *ngIf="address.errors?.required">Address is required.</mat-error>
         <mat-error *ngIf="address.errors?.minlength">Address field value should be 10 characters.</mat-error>

  </mat-form-field>
  </div>

  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
       <mat-label>Phone1</mat-label>
    <input matInput placeholder="Contact" name="contact_number" [(ngModel)]="student.contact_number" #contact_number="ngModel" required maxlength="10" pattern="^[0-9]{10}$">
      <mat-error *ngIf="contact_number.errors?.required">Contact number is required.</mat-error>
       <mat-error *ngIf="contact_number.errors?.maxlength">Contact number should be 10 numbers.</mat-error>
       <mat-error *ngIf="contact_number.errors?.pattern">It is not a valid contact number.</mat-error>
  </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
       <mat-label>Phone2</mat-label>
    <input matInput placeholder="Contact" name="contact_number2" [(ngModel)]="student.contact_number2" #contact_number2="ngModel" required maxlength="10" pattern="^[0-9]{10}$">
    <mat-error *ngIf="contact_number2.errors?.required">Contact number2 is required.</mat-error>
       <mat-error *ngIf="contact_number2.errors?.maxlength">Contact number2 should be 10 numbers.</mat-error>
       <mat-error *ngIf="contact_number2.errors?.pattern">It is not a valid contact number2.</mat-error>
  </mat-form-field>
  </div>

  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
       <mat-label>Annual Income</mat-label>
    <input matInput placeholder="Income" name="annual_income" [(ngModel)]="student.annual_income" #annual_income="ngModel" required minlength="4">
    <mat-error *ngIf="annual_income.errors?.required">Annual income is required</mat-error>
    <mat-error *ngIf="annual_income.errors?.minlength">Annual income shold be 4 digit.</mat-error>
  </mat-form-field>
  </div>

  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
   <mat-select placeholder="miniority"  name="miniority" [(ngModel)]="student.miniority" #miniority="ngModel">
      <mat-option value="YES">Yes</mat-option>
      <mat-option value="NO">No</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="col-sm-2 col-lg-3 col-md-2">
     <mat-form-field class="navigation-items">
     <mat-label>Email</mat-label>
    <input matInput value="" name="email" [(ngModel)]="student.email" #email="ngModel" required email>
     <mat-error *ngIf="email.errors?.required">Email is required.</mat-error>
     <mat-error *ngIf="email.errors?.email">Enter valid email address.</mat-error>

  </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
   <mat-select placeholder="Only Child"  name="only_child" [(ngModel)]="student.only_child" #only_child="ngModel">
      <mat-option value="YES">Yes</mat-option>
      <mat-option value="NO">No</mat-option>
    </mat-select>
     <mat-error *ngIf="only_child.invalid">Please enter only_child.</mat-error>
  </mat-form-field>
</div>
  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <input matInput [matDatepicker]="picker" placeholder="DOB" name="dob" [(ngModel)]="student.dob" #dob="ngModel" required [min]="minDate" [max]="maxDate">
  <mat-datepicker-toggle matPrefix [for]="picker">

  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
   <mat-error *ngIf="dob.invalid">Please enter dob.</mat-error>
  </mat-form-field>
  </div>

  <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <mat-select placeholder="Class"  name="class" [(ngModel)]="student.class" #class="ngModel" required>
      <mat-option *ngFor="let class of classData;" value="{{class.class_name}}">{{class.class_name}}</mat-option>
    </mat-select>
     <mat-error *ngIf="class.errors?.required">Class is required.</mat-error>
  </mat-form-field>
  </div>
   <div class="col-sm-2 col-lg-3 col-md-2">
    <mat-form-field >
    <input matInput placeholder="Discount" name="discount" [(ngModel)]="student.discount" #discount="ngModel">
    <!-- <mat-error *ngIf="discount.errors?.pattern">Please enter valid discount.</mat-error> -->
  </mat-form-field>
  </div>
</div>
 <div class="row">
  <div class="col-sm-2 col-lg-2 col-md-2">
    <span>Subjects:</span>
  </div>
  <div class="col-sm-2 col-lg-6 col-md-2">
    <section>
      <mat-checkbox class="example-margin" name="hindi" [(ngModel)]="student.hindi" #hindi="ngModel">हिंदी</mat-checkbox>&nbsp;
      <mat-checkbox class="example-margin" name="sanskrit" [(ngModel)]="student.sanskrit" #sanskrit="ngModel">संस्कृत</mat-checkbox>&nbsp;
      <mat-checkbox class="example-margin" name="medieval_history" [(ngModel)]="student.medieval_history" #medieval_history="ngModel">मध्य कालीन इतिहास</mat-checkbox>&nbsp;
      <mat-checkbox class="example-margin" name="home_science" [(ngModel)]="student.home_science" #home_science="ngModel">ग्रह विज्ञान</mat-checkbox>&nbsp;
      <mat-checkbox class="example-margin" name="pedagogy" [(ngModel)]="student.pedagogy" #pedagogy="ngModel">शिक्षा शास्त्र</mat-checkbox>&nbsp;
      <mat-checkbox class="example-margin" name="sociology" [(ngModel)]="student.sociology" #sociology="ngModel">समाज शास्त्र</mat-checkbox>&nbsp;
      <mat-checkbox class="example-margin" name="political_science" [(ngModel)]="student.political_science" #political_science="ngModel">राजनीती शास्त्र</mat-checkbox>&nbsp;
 </section>
</div>
  </div>
<div class="row">
<div class="col-sm-2 col-lg-6 col-md-2">
  <div class="button-row">
     <button type="submit" mat-stroked-button style="color:#38B6FF;">Update</button>
      <button type="button" [routerLink]="['/liststudent']" mat-stroked-button style="background-color: #38B6FF;color:#FFF">Cancel</button>
  </div>
</div></div></form></mat-card></div></mat-sidenav-container>