

<app-home></app-home>
<h4>Edit Receipt</h4>
<mat-sidenav-container>
 <form  name="receiptData" (submit)="updateStudentFee(postForm.form)" #postForm="ngForm" *ngFor="let receipt of editReceiptData">
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

 <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>SNo.</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput type="number" name="sno" [(ngModel)]="receipt.sno" #sno="ngModel">
  </mat-form-field>
  </div>

   <div class="item item-2" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">date</mat-icon>  
    <input matInput name="date" [(ngModel)]="receipt.date" #date="ngModel" readonly >
    </mat-form-field>
  </div>

      <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Session</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput value="" name="session" [(ngModel)]="receipt.session" #session="ngModel" required readonly>
    <mat-error *ngIf="session.invalid">Please enter session.</mat-error>
  </mat-form-field>
  </div>

<div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-icon matPrefix class="icon">book</mat-icon>
    <input matInput value="" name="class" [(ngModel)]="receipt.class" #class="ngModel" readonly>
    
  </mat-form-field>
  </div>
</div>

   
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
    <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Student Name</mat-label>       
    <mat-icon matPrefix class="icon">face</mat-icon>
    <input matInput  name="student_name" [(ngModel)]="receipt.student_name" #student_name="ngModel">
  </mat-form-field>
  </div>

    <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Roll No.</mat-label>       
    <mat-icon matPrefix class="icon">book</mat-icon>
    <input matInput name="roll_number" [(ngModel)]="receipt.roll_number" #roll_number="ngModel" >
  </mat-form-field>
  </div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
      <mat-label>Admission Fee</mat-label>       
      <mat-icon matPrefix class="icon">money</mat-icon>
      <input matInput type="number" name="admission_fee" [(ngModel)]="receipt.admission_fee" #admission_fee="ngModel" required >
      <mat-error *ngIf="admission_fee.invalid">Please enter Admission Fee.</mat-error>
    </mat-form-field>
  </div>


  <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="fee" [(ngModel)]="receipt.fee" #fee="ngModel" required >
    <mat-error *ngIf="fee.invalid">Please enter fee.</mat-error>
  </mat-form-field>
  </div>

   <div class="item item-3" fxFlex="15%">
    <mat-form-field >
    <mat-label>Remaining Fee</mat-label>       
    <mat-icon matPrefix class="icon">money</mat-icon>
    <input matInput type="number" name="remaining_fee" [(ngModel)]="receipt.remaining_fee" #remaining_fee="ngModel" >
  </mat-form-field>
  </div>

 </div>


<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="button-row">
  	 <button type="submit" mat-stroked-button color="primary">Save</button>
  	  <button type="button" [routerLink]="['/receiptList']" mat-raised-button color="primary">Cancel</button>

  </div>
</div>
</form>
</mat-sidenav-container>
<router-outlet></router-outlet>