
<ng4-loading-spinner> </ng4-loading-spinner>

  <body *ngFor ="let data of studentDetail;" id="content">
    <ng-container *ngFor ="let receiptData of receiptDetail;">
    <header class="clearfix">
      <div id="logo">
        <img src="assets/logo.png">
      </div>
      <h1>INVOICE - {{ receiptData.sno }}</h1>
      <div id="company" class="clearfix">
        <div>The President</div>
        <div>Daniyari,<br /> AZ 85004, UP</div>
        <div>9120254484</div>
        <div><a href="mailto:company@example.com">support@thepresidents.in</a></div>
      </div>
      <div id="project">
        <div><span>Name</span> {{ data.first_name }} {{ data.last_name }}</div>
        <div><span>Class</span> {{ data.class }}</div>
        <div><span>ADDRESS</span> {{ data.address }}</div>
        <div><span>EMAIL</span> <a href="mailto:optimistanoop@gmail.com">{{ data.email }}</a></div>
        <div><span>DATE</span> {{ receiptData.date | date: 'dd-MM-yyyy'}}</div>
       <!--  <div><span>DUE DATE</span> September 17, 2015</div> -->
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr rowspan="4">
            <th class="service">Fee Name</th>
            <th class="desc">DESCRIPTION</th>
            <th>Fee</th>
            <!-- <th>QTY</th> -->
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="service">Admission Fee</td>
            <td class="desc">Creating a recognizable design solution based on the company's existing visual identity</td>
            <td class="unit">{{ receiptData.admission_fee }}</td>
            <!-- <td class="qty">26</td> -->
            <td class="total">{{ receiptData.admission_fee }}</td>
          </tr>
          <tr>
            <td class="service">Submitted Fee</td>
            <td class="desc">Developing a Content Management System-based Website</td>
            <td class="unit">{{ receiptData.fee }}</td>
            <!-- <td class="qty">80</td> -->
            <td class="total">{{ receiptData.fee }}</td>
          </tr>
          <tr>
            <td class="service">Remaining Fee</td>
            <td class="desc">Optimize the site for search engines (SEO)</td>
            <td class="unit">{{ receiptData.remaining_fee }}</td>
            <!-- <td class="qty">20</td> -->
            <td class="total"></td>
          </tr>
          <tr>
            <td colspan="3">SUBTOTAL</td>
            <td class="total">{{ total }}</td>
          </tr>
          <tr>
            <td colspan="3">TAX 25%</td>
            <td class="total">$1,300.00</td>
          </tr>
          <tr>
            <td colspan="3" class="grand total">GRAND TOTAL</td>
            <td class="grand total">{{ total }}</td>
          </tr>
        </tbody>
      </table>
      <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
      </div>
    </main>
    <footer>
      Invoice was created on a computer and is valid without the signature and seal.
    </footer>
  </ng-container>
</body>


<div id="editor"></div>
<!-- <button (click)="downloadPDF()" mat-stroked-button color="primary">generate PDF</button> -->
<button (click)="printDiv('content')" mat-stroked-button color="primary">Print</button>