
<ng4-loading-spinner> </ng4-loading-spinner>
  <body *ngFor ="let data of studentDetail;" id="content">
    <ng-container *ngFor ="let receiptData of receiptDetail;">
    <header class="clearfix">
      <div id="logo">
        <img src="assets/logo.png">
      </div>
      <h1>INVOICE - {{ receiptData.srno }}</h1>
      <div id="company" class="clearfix">
        <div>The President</div>
        <div>Daniyari,<br /> Kushinagar 274409, UP</div>
        <div>9120254484</div>
        <div><a href="mailto:thepresidents.in@gmail.com">thepresidents.in@gmail.com</a></div>
      </div>
      <div id="project">
        <div><span>Name</span> {{ data.first_name }} {{ data.last_name }}</div>
        <div><span>Class</span> {{ data.class }}</div>
        <div><span>ADDRESS</span> {{ data.address }}</div>
        <div><span>EMAIL</span> <a href="mailto:{{data.email}}">{{ data.email }}</a></div>
        <div><span>DATE</span> {{ receiptData.date | date }}</div>
      </div>
    </header>
    <main>
      <table>
        <thead>
          <tr rowspan="3">
            <th class="service">Fee Name</th>
            <th class="desc"></th>
            <th>Fee</th>
            <!-- <th>QTY</th> -->
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="service">Total Fee</td>
            <td class="desc">*to be desposited</td>
            <td class="unit">{{ receiptData.admission_fee }}</td>
            <td class="total"></td>
          </tr>
          <tr>
            <td class="service">Submitted Fee</td>
            <td class="desc"></td>
            <td class="unit">{{ receiptData.submittedFee }}</td>
            <td class="total">{{ receiptData.submittedFee }}</td>
          </tr>
          <tr>
            <td class="service">Remaining Fee</td>
            <td class="desc">*without discount</td>
            <td class="unit">{{ receiptData.admission_fee - receiptData.submittedFee}}</td>
            <td class="total"></td>
          </tr>
          <tr>
            <td colspan="3">SUBTOTAL</td>
            <td class="total">{{ total }}</td>
          </tr>
          <tr>
            <td colspan="3" class="grand total">GRAND TOTAL</td>
            <td class="grand total">{{ total }}</td>
          </tr>
        </tbody>
      </table>
      <div id="notices">
        <div>Thanks:</div>
        <div class="notice">The President Daniyari</div>
      </div>
    </main>
    <footer>
      Invoice was created on a computer and is valid without the signature and seal.
    </footer>
  </ng-container>
</body>
